<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		CẬP NHẬT DANH MỤC {{productCategory.Name}}
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>Trang chủ</a></li>
		<li><a href="#">Sản phẩm</a></li>
		<li><a>Cập nhật sản phẩm</a></li>
	</ol>
</section>
<!-- Main content -->
<!-- Default box -->
<div class="box">
	<div class="box-body">
		<div class="row">

		</div>
		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" novalidate name="formAddProductCategory" role="form" ng-submit="UpdateProductCategory()">
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Tên danh mục:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="name" ng-change="GetSeoTitle()" placeholder="Tên danh mục" ng-model="productCategory.Name">
								<span ng-show="formAddProductCategory.name.$invalid" class="has-error">Tên danh mục không được trống.</span>
								<span ng-show="formAddProductCategory.name.$error.maxlength" class="has-error">Tên danh mục chỉ được nhập 256 ký tự.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Tiêu đề CEO:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="alias" placeholder="Tiêu đề CEO" ng-model="productCategory.Alias">
								<span ng-show="formAddProductCategory.alias.$invalid" class="has-error">Tiêu đề CEO không được trống.</span>
								<span ng-show="formAddProductCategory.alias.$error.maxlength" class="has-error">Tiêu đề CEO chỉ được nhập 256 ký tự.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Mô tả sản phẩm:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" name="description" placeholder="Mô tả" ng-model="productCategory.Description">
								<span ng-show="formAddProductCategory.description.$invalid" class="has-error">Mô tả không được trống.</span>
								<span ng-show="formAddProductCategory.description.$error.maxlength" class="has-error">Mô tả chỉ được nhập 500 ký tự.</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">Danh mục cha:</label>
							<div class="col-sm-10">
								<select class="form-control" name="parentId"
										ng-model="productCategory.ParentID"
										ng-options="option.ID as option.Name for option in parentCategories"></select>
								<input type="hidden" name="parentId"
									   ng-model="productCategory.ParentID" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Thứ tự:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									   name="displayOrder" placeholder="Enter email"
									   ng-model="productCategory.DisplayOrder">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Hình ảnh:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									   name="image" placeholder="Enter email"
									   ng-model="productCategory.Image">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Meta Keyword:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control"
									   name="metaKeyword" placeholder="Enter email"
									   ng-model="productCategory.MetaKeyWord">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="email">Meta Description:</label>
							<div class="col-sm-10">
								<textarea type="text" class="form-control"
									   name="metaDescription" placeholder="Enter email"
									   ng-model="productCategory.MetaDescription"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label><input type="checkbox" name="status" 
												  ng-model="productCategory.Status" 
												  ng-checked="productCategory.Status"> Kích hoạt </label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="checkbox">
									<label><input type="checkbox" name="homeFlag" 
												  ng-model="productCategory.HomeFlag" 
												  ng-checked="productCategory.HomeFlag"> Hiển thị trang chủ </label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-default">Submit</button>
							</div>
						</div>
					</form>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.box-body -->
	<!-- /.box-footer-->
</div>
<!-- /.box -->
<!-- /.content -->
