@model TeduShop.Web.Models.PageModel
@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/TrangChu/TrangChu.cshtml";
}

<div class=" single_top">
	<div class="single_grid">

		<h1>@Model.Name</h1>
		@Html.Raw(Model.Content)
		<div class="clearfix"> </div>
	</div>
</div>

