<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AdminLTE 2 | Blank Page</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<!-- Bootstrap 3.3.7 -->
	<link href="~/Assets/Admin/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Font Awesome -->
	<!-- Ionicons -->
	<link href="~/Assets/Admin/libs/Ionicons/css/ionicons.min.css" rel="stylesheet" />

	<link href="~/app/component/login/login.css" rel="stylesheet" />
	<link href="~/Assets/Admin/libs/angular-loading-bar/src/loading-bar.css" rel="stylesheet" />
	<link href="~/Assets/Admin/css/AdminLTE.min.css" rel="stylesheet" />
	<link href="~/Assets/Client/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" />
	<link href="~/Assets/Admin/libs/toastr/toastr.css" rel="stylesheet" />

	<link href="~/Assets/Admin/css/skins/_all-skins.min.css" rel="stylesheet" />
	<link href="~/Assets/Admin/css/style.css" rel="stylesheet" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="tedushop" ng-controller="rootController">
	<div ui-view></div>
	<!-- jQuery 3 -->
	<script src="~/Assets/Admin/libs/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="~/Assets/Admin/libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- SlimScroll -->
	<script src="~/Assets/Admin/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<!-- FastClick -->
	<script src="~/Assets/Admin/libs/fastclick/lib/fastclick.js"></script>
	<!-- AdminLTE App -->
	<script src="~/Assets/Admin/js/adminlte.min.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="~/Assets/Admin/libs/angular/angular.js"></script>
	<script src="~/Assets/Admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="~/Assets/Admin/libs/toastr/toastr.js"></script>

	<script src="~/Assets/Admin/libs/ckeditor/ckeditor.js"></script>
	<script src="~/Assets/Admin/libs/ckfinder/ckfinder.js"></script>
	<script src="~/Assets/Admin/libs/ng-ckeditor/ng-ckeditor.min.js"></script>
	<script src="~/Assets/Admin/libs/angular-loading-bar/src/loading-bar.js"></script>
	<script src="~/Assets/Admin/libs/angular-local-storage/dist/angular-local-storage.js"></script>

	<script src="~/app/shared/modules/tedushop.comon.js"></script>
	<script src="~/app/shared/filters/statusFilter.js"></script>
	<script src="~/app/shared/services/apiService.js"></script>
	<script src="~/Assets/Admin/libs/angular-paging/dist/paging.js"></script>
	<script src="~/app/shared/services/notificationService.js"></script>

	<script src="~/app/shared/services/authData.js"></script>
	<script src="~/app/shared/services/authenticationService.js"></script>
	<script src="~/app/shared/services/loginService.js"></script>

	<script src="~/app/shared/services/ngConfirm.js"></script>
	<script src="~/app/shared/services/commonService.js"></script>
	<script src="~/app/component/productCategories/productCategory.module.js"></script>
	<script src="~/app/component/product/product.module.js"></script>

	<script src="~/app/app.js"></script>
	<script src="~/app/component/home/rootController.js"></script>
	<script src="~/app/component/productCategories/productListCategoryController.js"></script>
	<script src="~/app/component/productCategories/addProductCategory/productCategoryAddController.js"></script>
	<script src="~/app/component/product/productListController.js"></script>
	<script src="~/app/component/product/productAddController.js"></script>
	<script src="~/app/component/productCategories/update/productCategoryUpdateController.js"></script>
	<script src="~/app/component/product/productEditController.js"></script>
	<script src="~/app/component/home/home.controller.js"></script>
	<script src="~/app/component/login/loginController.js"></script>
</body>
</html>
