<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="MaxPage" value="5"/>
	<add key="PageSize" value="10"/>

	<add key="SMTPHost" value="smtp.gmail.com"/>
	<add key="SMTPPort" value="587"/>
	<add key="FromEmailAddress" value="tranthanhtung.cd2.21@gmail.com"/>
	<add key="FromEmailPassword" value="tungconbg93"/>
	<add key="FromName" value="tungshop"/>
	<add key="AdminEmail" value="tranthanhtung.cd2.21@gmail.com"/>
</appSettings>